<%# app/views/quotes/index.html.erb %>
<% # this is what subscribes the page to the quotes stream %>
<%= turbo_stream_from current_company, "quotes" %>

<main class="container">
<%# Wrapping this div in a turbo_frame_tag %>
<%# This results in a turbo-frame like this %>
<%# <turbo-frame id="first_turbo_frame"> %>
  <div class="header">
    <h1>Quotes</h1>
    <%# Defining a data-turbo-frame attribute will target that frame instead %>
    <%# _top is special that represents the whole page %>
    <%= link_to "New quote", new_quote_path, class: "btn btn--primary", data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <%# empty turbo frame to house the new quote form when the create button is clicked %>
  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render "quotes/empty_state" %>
    <%= render @quotes %>
  <% end %>
</main>